extends page-layout.pug

append head
  link(rel='stylesheet', type='text/css', href='../page-style.css')
  include include/mathjax.pug
  script(type='text/javascript', src='../arbital-demo-bundle.js')
  script(type='text/javascript').
    window.addEventListener('DOMContentLoaded', e=>window.loadAllDemos())

mixin comment(commentId)
  - let comment = pageIndex[commentId]
  if !requestedEdit || comment.pageCreatedAt >= editCreatedAt
    div.comment
      if comment
        p: +pageLink(comment.pageCreatorId)
      p!= comment && comment.renderText ? comment.renderText(pageIndex) : `${commentId} (missing)`
      each subCommentId in comment.commentIds
        +comment(subCommentId)

append body
  header
    h1.title
      = title
    div.page-info
      p.metadata-link: a(href=`../${fileLink(metadataFile)}`)= path.basename(metadataFile)
      p.arbital-url: a(href=arbitalUrl)= arbitalUrl
      if pageCreatorId
        p.creator
          | created by
          | 
          +pageLink(pageCreatorId)
          if pageCreatedAt
            | 
            +date(pageCreatedAt)
      if editCreatorId
        p.editor
          if edit
            = `edit #${edit} by`
          else
            | last edited by
          | 
          +pageLink(editCreatorId)
          if editCreatedAt
            | 
            +date(editCreatedAt)
    if clickbait
      p.clickbait= clickbait
    nav.breadcrumbs
      +breadcrumb(title)
      for breadcrumb in breadcrumbs
        +breadcrumbWithoutIndex(...breadcrumb)
  hr
  main!= textHtml
  hr
  if commentIds.length > 0
    section.comments
      h2 Comments
      each commentId in commentIds
        +comment(commentId)
  footer
    if tagIds.length > 0
      p.tagged
        h2 Tagged
        +pageCommaList(tagIds)
    if creatorIds.length > 1
      p.all-creators
        h2 All Creators
        +pageCommaList(creatorIds)
    if individualLikes.length > 0
      p.likes
        h2 Likes
        +pageCommaList(individualLikes)
    if relatedIds.length > 0
      p.related
        h2 Related
        +pageList(relatedIds)
    unless requestedEdit
      if reverse.relatedIds.size > 0
        p.reverse-related
          h2 Reverse Related
          +pageList(reverse.relatedIds)
    if childIds.length > 0
      p.children
        h2 Children
        +pageTree(childIds)
    unless requestedEdit
      if reverse.pageCreatorId.size > 0 || reverse.editorIds.size > 0
        hr
      if reverse.pageCreatorId.size > 0
        p.created
          h2 Created
          +pageListByType(reverse.pageCreatorId, /*hLevel=*/3, /*idPrefix=*/'created', /*skipCreator=*/true)
      if reverse.editorIds.size > 0
        p.edited
          h2 Edited
          +pageListByType(reverse.editorIds, /*hLevel=*/3, /*idPrefix=*/'edited')
