extends layout.pug

append head
  link(rel='stylesheet', type='text/css', href='../page-style.css')
  include include/mathjax.pug
  script(type='text/javascript', src='../arbital-demo-bundle.js')
  script(type='text/javascript').
    window.addEventListener('DOMContentLoaded', e=>window.loadAllDemos())

block body
  header
    h1.title= title
    div.page-info
      p.metadata-link: a(href=`../metadata/${aliasOrId}.json.html`)= `${aliasOrId}.json`
      p.arbital-url: a(href=arbitalUrl)= arbitalUrl
    if clickbait
      p.clickbait= clickbait
    +breadcrumb(title)
  hr
  main!= textHtml
